*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}

.nav{
    display: flex;
    width: 100%;
    color: brown;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin: 2px;
    overflow-x:hidden;
    border-top: none;
}

.welcome{
    width: 150px;
    height: 30px;
    margin: 0;
}
.tab{
    width: 350px;
    height: 98vh;
    display: grid;
    place-content: center;
    position: fixed;
    background-color: #a8ff78;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px orange;
}
.tab > h1{
    margin-top: 30px;
}
.icons{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    margin-top: 100px;
    cursor: pointer;
}
#left{
    float: left;
    width: 350px;
    height: 100vh;
    background-color: aqua;
    text-align: center;
    position: fixed;
    margin-right: 5px;
    margin-top: 5px;
}
.main{
    margin-top: 10px;
}
#ol{
    list-style: none;
    margin-left: 0px;
    margin-top: 50px;

}
#ol > li{
    margin-top: 10px;
    font-size: 30px;
    text-align: left;
    margin-left: 5px;
    cursor: pointer;
}

#right{
    float: right;
    width: 75vw;
    height: auto;
    padding: 10px;
    background: linear-gradient(right, #a8ff78 #78ffd6);
    left: 350px;
    margin-top: 10px;
    position: absolute;
    padding-left: 20px;
}

.home{
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin-bottom: 100px;
    background-color: antiquewhite;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
#first{
    margin-top: 200px;
    padding: 10px;
}
#first > h1{
    font-size: 40px;
    font-weight: bold;
    color: brown;
    text-shadow: 0 0 10px 10px white;
    margin-bottom: 30px;
    margin-right: 0;
    
}
#first > h2{
    margin-bottom: 10px;
}
#first > h4{
    opacity: 0.6;
}
#first > button{
    font-size: 30px;
    padding: 5px;
    background-color: rgb(3, 3, 128);
    color: white;
    margin-top: 40px;
}
#photo > img{
    width: 550px;
    height: 500px;
    margin-top: 50px;
    border-radius: 10px;
    margin-left: 0;
}
#aboutmain{
    background-color: bisque;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.about{
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin-bottom: 100px;
}
.about > span > img{
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    margin-right: 20px;
}
#about{
    width: 700px;
    height: 400px;
    /* background-color:rgb(128, 199, 118); */
}
#about > h4{
    margin-bottom: 10px;
}
#about1{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
#about12 > pre{
    font-size: 16px;
    margin-top: 40px;
}
#tech{
    background-color: bisque;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.heading{
    color: blue;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
    text-decoration: underline;
}
.progress{
    width: 600px;
    margin-bottom: 20px;
}
.cardcontainer{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.card{
    width: 80%;
    height: 150px;
    padding: 20px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: antiquewhite;
    border: 2px solid blueviolet;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}
.card > h4{
    margin-bottom: 10px;
    color: brown;
}
#para{
    font-size: 14px;
}
.certificat{
    display: flex;
    flex-direction: row;
}
.certificat > img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-right: 20px;
}
.certificat > span > h4{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-right: 20px;
    text-align: center;
    color: rgb(105, 62, 62);
    background-color: bisque;
    padding: 40px;
    font-size: 20px;

}
.clistc{
    display: grid;
    grid-template-columns: repeat(2,auto);
}
.clist{
    width: 400px;
    height: 100px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin-bottom: 20px;
    background-color: antiquewhite;
}
#cicon{
    margin-left: 400px;
}
#cicon > a > img{
    margin-right: 20px;
}
.ecard{
    background-color: antiquewhite;
    width: 600PX;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border: 2px solid blue;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.ecard > h2{
    margin-bottom: 10px;
    color: brown;
}